<!DOCTYPE html>
<html lange="en">
  <head>
    <title>HISTORY MOBILE LEGEND</title>
    <link rel="stylesheet" href="/style/history.css" type="text/css" />
  </head>
  <body>
    <h1><%= history.title %></h1>

    <div style="margin: 40px auto">
      <p class="history-description"><%= history.data[0].description %></p>
    </div>

    <footer>
      <p>Created by Adadua Karunia Putera</p>
    </footer>
  </body>
</html>
